<%-include('partials/header', {pagetitle: "Manage"})-%>
<%-include('partials/navbar')-%>

<h1>Manage <%=club.clubname%></h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#budget-tab" type="button" role="tab" aria-controls="nav-info" aria-selected="false">Upload Receipts</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#event-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Create Meetings</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#announce-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Announcement</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#email-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Draft All School Email</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#edit-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Edit Club Details</button>

    <% if(userRole == "faculty"){ %>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#pendingemails-tab" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Pending All School Email Drafts</button>
    <%}%>

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active" id="budget-tab" role="tabpanel" aria-labelledby="nav-info-tab" tabindex="0">
    <div class="w-75 ms-3 mt-3">
      <h5>Send Reimbursement Request (to nearest dollar)</h5>
      <form class="row" action="/manage/reimburse" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="clubID" class="form-control" value="<%=club.clubID%>" readonly required>
        <div class="input-group w-50 mb-4">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" id="money" name="money" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
        <div class="col-md-3">
          <label for="receipt" class="form-label">Proof of Purchase</label>
          <input type="file" name="receipt" id="receipt" accept="image/*"/>
        </div>
        <div class="col-md-6">
          <label for="expenses" class="form-label">List Expenses here</label>
          <textarea name="expenses" class="form-control" id="expenses" rows="3"></textarea>
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-success">Submit Request</button>
        </div>
      </form>
    </div>
  </div>

  <div class="tab-pane fade show" id="event-tab" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="1">
    <div class="w-75 ms-3 mt-3">
      <h5>Create New Event</h5>
      <form class="row" action="/manage/createEvent" method="POST">
        <input type="hidden" name="clubID" class="form-control" value="<%=club.clubID%>" readonly required>
        <div class="col-md-2">
          <input type="text" name="clubname" class="form-control" id="clubname" value="<%=club.clubname%>" required readonly>
        </div>
        <div class="col-md-2">
          <label for="location" class="form-label">Location*</label>
          <input type="text" name="location" class="form-control" id="location" value="" required>
        </div>
        <div class="col-md-2">
          <label for="date" class="form-label">Date*</label>
          <input type="date" name="date" value="" required>
        </div>
        <div class="col-md-2">
          <label for="time" class="form-label">Time*</label>
          <input type="time" name="time" value="" required>
        </div>
        <div class="col-12">
          <button type="submit">Schedule Meeting</button>
        </div>
      </form>
    </div>
  </div>


  <div class="tab-pane fade show" id="announce-tab" role="tabpanel" aria-labelledby="nav-announce-tab" tabindex="2">
    <div class="w-100 ms-3 mt-3">
      <h5>Post announcement</h5>


      <form class="row" action="/manage/announce" method="POST">
        <input type="hidden" name="clubID" class="form-control" value="<%=club.clubID%>" readonly required>
        <div class="col-sm-6 me-3 mb-3">
          <label for="subject">Announcement Subject</label>
          <input type="text" name="subject" class="form-control" id="subjectInput" value="" required>
        </div>
        <div class="col-sm-6 me-3 mb-3">
          <label for="announcement" class="form-label">Announcement Text*</label>
          <textarea name="announcement" class="form-control" id="announcement" rows="8"></textarea>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" id="announceButton" type="submit">Post announcement</button>
        </div>
      </form>

      <button class="btn btn-primary" id="remindButton" type="submit">Remind</button>

    </div>
  </div>




  <div class="tab-pane fade show" id="email-tab" role="tabpanel" aria-labelledby="nav-email-tab" tabindex="2">
    <div class="w-100 ms-3 mt-3">
      <h5>All School Email</h5>
      <form class="row" action="/manage/sendToAdvisor" method="POST">
        <input type="hidden" name="clubID" class="form-control" value="<%=club.clubID%>" readonly required>
        <div class="col-md-6 mt-2 mb-2 me-4">
          <label for="emailsubject" class="form-label">Email Subject</label>
          <input type="text" name="emailsubject" class="form-control" id="emailsubject" value="">
        </div>
        <div class="col-md-6 mt-2 mb-2">
          <label for="emaildraft" class="form-label">Email Draft*</label>
          <textarea name="emaildraft" class="form-control" id="emaildraft" rows="8"></textarea>
        </div>
        <div class="col-12 mb-3">
          <button class="btn btn-primary" type="submit">Send Draft To Advisor for Approval</button>
        </div>
      </form>
      <h5>Approved and Sent Emails</h5>
      <%for(let i in club.emails){%>
        <%if(club.emails[i].approved){%>
          <div class="alert alert-success mt-3 w-50" role="alert">
            <h5><%=club.emails[i].emailsubject%></h5>
            <p><%=club.emails[i].emaildraft%></p>
          </div>
          <%}%>
        <%}%>
    </div>
  </div>

  <div class="tab-pane fade show" id="pendingemails-tab" role="tabpanel" aria-labelledby="nav-email-tab" tabindex="2">
    <div class="w-100 ms-3 mt-3">
      <h5>Drafted Emails</h5>
      <% for(let draft in club.emails){ %>
        <% if(!club.emails[draft].approved){ %>
      <form class="row" action="/manage/sendEmail" method="POST">
        <input type="hidden" name="clubID" class="form-control" value="<%=club.clubID%>" readonly required>
        <input type="hidden" name="draftID" class="form-control" value="<%=club.emails[draft].draftID%>" readonly required>
        <div class="col-md-6 mt-2 mb-2 me-4">
          <label for="emailsubject" class="form-label">Email Subject</label>
          <input type="text" name="emailsubject" class="form-control" id="emailsubject" value="<%=club.emails[draft].emailsubject%>">
        </div>
        <div class="col-md-6 mt-2 mb-2">
          <label for="emaildraft" class="form-label">Email Draft*</label>
          <textarea name="emaildraft" class="form-control" id="emaildraft" rows="8"><%=club.emails[draft].emaildraft%></textarea>
        </div>
        <div class="col-12">
          <button class="btn btn-success" type="submit">Approve</button>
        </div>
      </form>
      <%}%>
      <%}%>
    </div>
  </div>


  <div class="tab-pane fade" id="edit-tab" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
<div class="w-75 ms-3 mt-3">
    <form class="row g-3" action="/clubs/updateClub" method="POST">
      <div class="col-md-3">
        <input type="text" name="clubID" value="<%=club.clubID%>" class="form-control" required readonly>
      </div>

  <%if(userRole == "faculty"){%>
  <div class="col-md-3">
    <label for="leader1Email" class="form-label">Leader 1 Email*</label>
    <input name="leader1Email" type="text" class="form-control" id="leader1Email" value="<%=club.leaders.leader1Email%>" required>
  </div>
  <%} else {%>
    <div class="col-md-3">
      <label for="leader1Email" class="form-label">Leader 1 Email*</label>
      <input name="leader1Email" type="text" class="form-control" id="leader1Email" value="<%=club.leaders.leader1Email%>" required readonly>
    </div>
    <%}%>

  <%if(userRole == "faculty"){%>
  <div class="col-md-3">
    <label for="leader2Email" class="form-label">Leader 2 Email*</label>
    <input name="leader2Email" type="text" class="form-control" id="leader2Email" value="<%=club.leaders.leader2Email%>" required>
  </div>
  <% } else {%>
    <div class="col-md-3">
      <label for="leader2Email" class="form-label">Leader 2 Email*</label>
      <input name="leader2Email" type="text" class="form-control" id="leader2Email" value="<%=club.leaders.leader2Email%>" required readonly>
    </div>
    <%}%>


  <div class="col-md-3">
    <label for="leader3Email" class="form-label">Leader 3 Email</label>
    <input name="leader3Email" type="text" value="" class="form-control" id="leader3Email" value="<%=club.leaders.leader3Email%>">
  </div>
  <div class="col-md-3">
    <label for="leader4Email" class="form-label">Leader 4 Email</label>
    <input name="leader4Email" type="text" value="" class="form-control" id="leader4Email" value="<%=club.leaders.leader4Email%>">
  </div>

  <%if(userRole == "faculty"){%>
  <div class="col-md-4">
    <label for="advisorEmail" class="form-label">Advisor Email</label>
    <input name="advisorEmail" type="text" class="form-control" id="advisorEmail" value="<%=club.facultyAdvisorEmail%>" required>
  </div>
  <%} else {%>
    <div class="col-md-4">
      <label for="advisorEmail" class="form-label">Advisor Email</label>
      <input name="advisorEmail" type="text" class="form-control" id="advisorEmail" value="<%=club.facultyAdvisorEmail%>" required readonly>
    </div>
<%}%>

<%if(userRole == "faculty"){%>
  <div class="col-md-5">
    <label for="clubName" class="form-label">Club Name</label>
      <input name="clubName" type="text" class="form-control" id="clubName"  value="<%=club.clubname%>" required>
  </div>
<%} else {%>
  <div class="col-md-5">
    <label for="clubName" class="form-label">Club Name</label>
      <input name="clubName" type="text" class="form-control" id="clubName"  value="<%=club.clubname%>" required readonly>
  </div>
  <%}%>


<div class="col-md-12">
  <label for="description" class="form-label">Description of Club</label>
  <textarea name="description" class="form-control" id="description" rows="3"><%=club.description%></textarea>
</div>
  <div class="col-12">
    <button type="submit">Update Club Details</button>
  </div>
</form>
  </div>
</div>
</div>

<script>
  console.log("script started")
  document.getElementById("remindButton").addEventListener('click', function (){
      let socket = io.connect('/');//the default namespace

      let announcement = {}

      announcement["clubname"] = document.getElementById("clubname").value
      announcement["subject"] = document.getElementById("subjectInput").value
      announcement["message"] = document.getElementById("announcement").value

      socket.emit('announcement', announcement);
  });

</script>

<%-include('partials/footer')-%>
